
.moduloAsignarEquipos {
	display: none;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin-top: 15px;
	flex-wrap: wrap-reverse;
	gap: 50px;
}

.moduloAsignarEquipos > div {
	border: 1px dashed black;
	padding: 25px;
}

.moduloEvento {
	flex-direction: column;
}

.moduloEvento > div {
	padding: 25px;
}

.opcion {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#selectOpcion {	
	appearance: none;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	font-size: 1.2rem;
}

.seleccionInstitucion {
	display: flex;
	flex-direction: column;
}

.seleccionInstitucion * {
	margin: 5px;
}

.añadir-a-competicion {
	display: none;
	margin-top: 15px;
	justify-content: center;
}

.head-asignar-equipos {
	display: flex;
	flex-direction: column;
}

.head-asignar-equipos * {
	margin: 5px;
}

.seccion-labels-competicion {
	display: flex;
	flex-direction: row;
	align-items: space-between;
}

.seccion-labels-competicion * {
	display: flex;
	align-items: center;
}

.tablaEquipo {
	display: block;
	max-width: 100%;
	overflow-x: auto;
}

.container-tablas-equipo {
	display: flex;
	flex-direction: column-reverse;
}

/*
.tbodyEquipo {
	display: flex;
	flex-direction: row;
}
*/
/*
.tbodyEquipo tr {
	display: block;
	float: left
}
*/
/*.tbodyEquipo th, td {
	display: block;
}*/

table th {
	font-size: 1rem;
}
