
	body {
			background-image: url('/pictures/darkbg.jpeg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			margin: 0;
			padding: 0;
			font-family: 'Calibri', sans-serif;
			color: #333; /* Color de texto oscuro */
			text-align: center;
	}

	h1 {
			font-size: 2em;
			margin-top: 20px;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
			padding: 15px 30px;
			border-radius: 30px;
			background-color: #fff; /* Fondo blanco */
			color: #333; /* Texto oscuro */
			display: inline-block;
	}

	.container {
			margin-top: 20px;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente blanco */
			padding: 20px;
			border-radius: 10px;
			border: 2px solid #333; /* Borde oscuro */
			color: #333; /* Texto oscuro */
			width: 60%; /* Ancho reducido */
			margin-left: auto;
			margin-right: auto;
			box-sizing: border-box; /* Incluir el padding y border en el ancho total */
	}

	.container label {
			display: block;
			margin-bottom: 5px;
			font-size: 1em;
	}

	.container input[type="text"], .container input[type="email"], .container input[type="tel"] {
			width: calc(100% - 22px); /* Ancho del input restando padding y border */
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 1em; /* Tamaño de fuente moderno */
			outline: none;
			box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease-in-out;
	}

	.container select {
			width: calc(100% - 22px); /* Ancho del select restando padding y border */
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 1em; /* Tamaño de fuente moderno */
			outline: none;
			box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease-in-out;
			appearance: none; /* Eliminamos la apariencia predeterminada del select */
			-webkit-appearance: none;
			-moz-appearance: none;
			background: #fff; /* Fondo blanco */
			color: #333; /* Texto oscuro */
	}

	.container .member-entry {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
	}

	.container .member-entry input[type="text"] {
			width: 48%; /* Ancho del input para nombre y matrícula */
	}

	.container button {
			padding: 12px 25px;
			border: none;
			border-radius: 5px;
			background-color: #333; /* Color de fondo oscuro */
			color: #fff; /* Color de texto blanco */
			font-size: 1em; /* Tamaño de fuente moderno */
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
	}

	.container button:hover {
			background-color: #555; /* Color de fondo al pasar el ratón */
	}
