
.container {

}

.moduloRegion,
.moduloCiudad,
.moduloInstitucion,
.moduloEquipo {
	display: none;
	flex-direction: column;
	align-items: center;
}

.moduloParticipante {
	display: none;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	margin: 20px;
	max-width: 85%;
	flex-wrap: wrap;
	padding: 15px;
	border: dashed 1px black;
}

.moduloInstitucion .form {
	width: 75%;
	max-height: 600px;
}

.form * {
	margin-bottom: 15px;
}

.containerBuscar {
	margin-bottom: 15px;
}

.formBuscar * {
	margin: 5px;
}

.containerTabla {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: stretch;/*
	background: red;
	border: 2px solid black;*/
}

table {
	border-collapse: collapse;
}

table td,
table th {
	border: solid 1px black;
}

.cabecera {
	background: #777;
	color: white;
}

#labelNombreRegion {
	/*margin-left: 5px;*/
}

.seccion * {
	margin: 15px;
}

/*tr {
	display: flex;
	background: #ddd;
	padding: 15px;
	justify-content: center;
}*/

.row:nth-child(even) {
	background: #eee;
}

.row:hover {
	background: #ddd;
}

#editar {	
	/* margin-left: 25px; */
}

.containerPages {
	align-self: flex-end;
}

.containerPages * {
/*	display: none;*/
}

#labelPages {
	margin-right: 15px;
}

.popup {
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.popup-content {
	background: #fff;
	display: flex; 
	max-width: 85%;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 5px;
}

.formPopup {
	padding: 25px;
	display: flex;
	justify-content: space-around;
}


.botonCerrar {
	align-self: flex-end;
	order: -5;
}

.botonEliminar {
	align-self: center;
	margin-bottom: 15px;
}
