body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.bg {
    background-image: url('/pictures/bg.png');  
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-position: fixed;
	filter: blur(15px);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}


.shop-container {
	width: 50px;
	height: 50px;
	background: url(/pictures/shop.png);
	background-size: contain;
	background-repeat: no-repeat;
  margin-bottom: 5px;
}


.shop-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-container {
    background-color: transparent;
}

h1 {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    backdrop-filter: invert(30%);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    color: #eee;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

img {
    width: 100%;
}

.product h2 {
    color: #555;
}

.product p {
    color: #777;
}

.product button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #218838;
}

.cart-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: left;
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 10px;
    color: #333;
}

#closeCart {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

#closeCart:hover {
    background-color: #c82333;
}

